@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.pokemon-chooser {
  margin: 8px;
  width: 600px;
}

.pokemon-chooser__input {
  padding: 14px;
  width: 200px;
  margin-right: 12px;
  border-radius: 8px;
  font-family: 'Press Start 2P', cursive;
}


.pokemon-chooser__button {
  width: 150px;
  background-color: yellow;
  border-radius: 8px;
  padding: 10px;
  color: blue;
  font-family: 'Press Start 2P', cursive;
  filter: drop-shadow(1px 1px 2px blue);
}
