@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.pokemon-sprite {
  height: 200px;
}

.face-right {
  transform: rotateY(180deg);
}

.pokemon-card {
  width: 280px;
  height: 370px;
  background-color: #B3A125;
  border-radius: 3px;
  padding: 8px;
  margin: 3px;
  display: inline-block;

}
.inner-card {
  background-color: #FFDE00;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
  width: 267px;
}

.card-title {
  display: inline-block;
}

.card-name {
  font-family: 'Press Start 2P', cursive;
  padding: 4px;
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
  margin: 4px;
  font-size: 15px;
}
.card-hp {
  font-family: 'Press Start 2P', cursive;
  padding: 4px;
  text-transform: capitalize;
  text-align: right;
  font-weight: bold;
  margin: 4px;
}
.card-image {
  margin: 20px;
  background-color: #2F3336;
  border-radius: 2px;
  padding: 2px;
  background-image: radial-gradient(#F099A8, #5DC3EB, #2F3336);
  filter: drop-shadow(1px 1px 4px #2F3336);
  height: 180px;
}

.card-message {
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
}
